@import "../globals.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
  position: fixed;
  z-index: 10000;
  background-color: $White-Color;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0;
    width: 100%;
    height: 100%;
    position: unset;
  }

  &.with-sidebar {
    background-color: white;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: white;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    color: $Main-Color;

    li {
      cursor: pointer;
      &:hover {
        color: #303881;
      }
    }

    .special {
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
      &.open {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: $White-Color;
        z-index: 10;

        li {
          position: relative;
          margin-bottom: 1rem;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            width: 80%;
            margin-top: 0.5rem;
            height: 1px;
            background-color: $Main-Color;
          }
        }

        li:last-child::after {
          display: none; /* Hide the line under the last li element */
        }
      }
    }
  }

  .contactUsLogo {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 2rem;
      z-index: 100;
      position: fixed;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .logo {
    z-index: 11;
    vertical-align: middle;

    @media screen and (max-width: 768px) {
      width: 130px;
      height: 100px;
    }
  }

  .sidebar {
    z-index: 200;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &.openButton {
      @media screen and (max-width: 768px) {
        display: flex;
        z-index: 100;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
